:root {
  --color-green: #69FCC1;
  --color-white: #FFFEFE;
  --color-black: #191818;
  --size-xxs: .25rem;
  --size-xs: .5rem;
  --size-s: 1rem;
}

body,
h1,
p,
menu {
  margin: unset;
}

menu {
  padding-left: unset;
  list-style: none;
}

h1 {
  font-size: 1.5rem;
}

/* Custom scrollbar for tasks list */
::-webkit-scrollbar {
  width: var(--size-xxs);
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px var(--color-white);
  border-radius: var(--size-xs);
}

::-webkit-scrollbar-thumb {
  background: var(--color-white);
  border-radius: var(--size-xs);
}

body {
  background-color: var(--color-green);
  color: var(--color-black);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
  max-width: 700px;
  margin: 3.5rem auto;
  padding: var(--size-s);
}

.header {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: .75rem;
  margin-bottom: 2rem;
}

.header__icons > img {
  width: var(--size-s);
  cursor: pointer;
}

.header-icons__last {
  margin-left: var(--size-s);
}

.tasks__message {
  text-align: center;
}

.tasks__list {
  height: 19rem;
  overflow-y: auto;
}

.tasks__item {
  display: flex;
  align-items: center;
  width: 95%;
  padding: var(--size-s);
  background-color: var(--color-white);
  border-radius: var(--size-xxs);
  box-sizing: border-box;
}

.tasks__item:not(.tasks__item:last-child) {
  margin-bottom: var(--size-xs);
}

/* Input and custom checkbox group */
.tasks__item > div {
  display: flex;
  align-items: center;
  position: relative;
}

/* Hiding default checkbox */
.tasks-item__checkbox {
  z-index: 2;
  margin: 0;
  width: var(--size-s);
  height: var(--size-s);
  opacity: 0;
}

/* Custom checkbox */
.tasks-item__custom-checkbox {
  position: absolute;
  width: var(--size-s);
  height: var(--size-s); 
  border: 1px solid var(--color-black);
  border-radius: 50%;
}

.tasks-item__checkmark {
  position: absolute;
  width: 1.5rem;
  opacity: 0;
}

/* Dynamically add these 3 classes when checked */
.tasks-item__checkmark--show {
  opacity: 1;
}

.tasks-item__custom-checkbox--checked {
  background-color: var(--color-black);
}

.done {
  text-decoration: line-through;
  text-decoration-thickness: 1px;
}

.tasks-item__text-group {
  justify-content: space-between;
  width: 100%;
}

.tasks-item__text-group > span {
  margin-left: var(--size-xs);
}

.tasks-item__text-group > img {
  width: var(--size-s);
  cursor: pointer;
}

.tasks__filter {
  display: flex;
  justify-content: flex-start;
  gap: var(--size-xs);
  margin-top: var(--size-xs);
  font-size: .8rem;
  cursor: pointer;
}

.tasks-filter__item {
  transition: .5s;
}

.tasks-filter__item--active {
  color: var(--color-white);
}

.tasks-filter__item:hover {
  color: var(--color-white);
}

.input { 
  border: transparent;  
  outline: none;
}

.input--task {
  width: fit-content;
  position: absolute;
  bottom: 1rem;
  padding: var(--size-s);
  background-color: var(--color-white);
  border-radius: var(--size-xxs);
  box-sizing: border-box;  
  font-size: .9rem;
}

.input--title {
  width: 8rem;
  background-color: transparent;
  border: transparent;
  text-align: center;
  font-size: 1.5rem;
}